/***
 *       ___ ___  __  __ __  __  ___  _  _
 *      / __/ _ \|  \/  |  \/  |/ _ \| \| |
 *     | (_| (_) | |\/| | |\/| | (_) | .` |
 *      \___\___/|_|  |_|_|  |_|\___/|_|\_|
 *
 */

 @font-face { font-family: Radikal; font-weight: 100; src: url('../typos/Nootype-RadikalThin.otf'); }
 @font-face { font-family: Radikal; font-weight: 300; src: url('../typos/Nootype-RadikalLight.otf'); }
 @font-face { font-family: Radikal; src: url('../typos/Nootype-Radikal.otf'); }
 @font-face { font-family: Radikal; font-weight: 600; src: url('../typos/Nootype-RadikalMedium.otf'); }
 @font-face { font-family: Radikal; font-weight: bold; src: url('../typos/Nootype-RadikalBold.otf'); }
 @font-face { font-family: Radikal; font-weight: 900; src: url('../typos/Nootype-RadikalBlack.otf'); }
 @font-face { font-family: Radikal; font-style: italic; src: url('../typos/Nootype-RadikalLightItalic.otf'); }

 body {
    font-family: Radikal;
    color: white;
 }

 section {
     position: relative;
     z-index: 2;
 }

 h1 {
     text-transform: uppercase;
     text-align: center;
     font-size: 3.2em;
 }

 h1, h2, h3, h4, h5 {
     font-family: Radikal;
 }

 .font-blue {
     color: #0087CC !important;
 }

 .font-gray {
     color: #414042 !important;
 }

 .bg-gray {
    background-color: #414042 !important;
}

 .bg-blue {
     background: #0087CC !important;
 }

 .bg-gradient-gray {
    background: linear-gradient(#E7E8E9, white);
 }

 .logo {
     background: url(../images/logo.png);
     background-size: contain;
     background-repeat: no-repeat;
 }

 .content-over-fixed {
    z-index: 2;
    position: relative;
 }

 .divider {
     height: 4px;
     background: #A7A9AC;
     width: 30px;
     margin: 35px auto;
 }

 .header .column {
     cursor: pointer;
 }

 .header .column:hover {
    opacity: .7;
}

form input, form textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 300;
}

form input {
    height: 40px;
    border-bottom: 1px solid #a9a9a9;
}

form textarea {
    margin-top: 10px;
}

/***
 *      ___ ___ ___ _____ ___ ___  _  _    ___  _  _ ___
 *     / __| __/ __|_   _|_ _/ _ \| \| |  / _ \| \| | __|
 *     \__ \ _| (__  | |  | | (_) | .` | | (_) | .` | _|
 *     |___/___\___| |_| |___\___/|_|\_|  \___/|_|\_|___|
 *
 */

@media screen and (min-aspect-ratio: 2/1) {
    section#one {
        height: 42vw !important;
    }
    section#two {
        margin-top: 42vw !important;
    }
}
@media screen and (max-aspect-ratio: 2/1) {
    section#one {
        height: 46vw !important;
    }
    section#two {
        margin-top: 46vw !important;
    }
}

@media screen and (max-aspect-ratio: 19/10) {
    section#one {
        height: 48vw !important;
    }
    section#two {
        margin-top: 48vw !important;
    }
}

@media screen and (max-aspect-ratio: 18/10) {
    section#one {
        height: 50vw !important;
    }
    section#two {
        margin-top: 50vw !important;
    }
}

@media screen and (max-aspect-ratio: 17/10) {
    section#one {
        height: 55vw !important;
    }
    section#two {
        margin-top: 55vw !important;
    }
}

@media screen and (max-aspect-ratio: 16/10) {
    section#one {
        height: 60vw !important;
    }
    section#two {
        margin-top: 60vw !important;
    }
}

@media screen and (max-aspect-ratio: 14/10) {
    section#one {
        height: 70vw !important;
    }
    section#two {
        margin-top: 70vw !important;
    }
}

@media screen and (max-aspect-ratio: 12/10) {
    section#one {
        height: 80vw !important;
    }
    section#two {
        margin-top: 80vw !important;
    }
}

section#one {
    width: 100%;
    height: 50vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    min-height: 540px;
}

section#one.agency {
    height: 280px !important;
    min-height: 280px;
}

section#one .background-fixed {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg-section-one.jpg);
    background-position: 50% 61%;
    background-size: cover;
    z-index: 1;
    transform: scale(1.1);
}

section#one .logo {
    width: 140px;
    height: 140px;
    margin: 50px auto;
}

section#one .header {
    text-align: center;
    margin: auto;
    max-width: 1150px;
    font-size: 1.6em;
}

.header.fixed {
    position: fixed;
    top: 200px;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    z-index: 5;
    background: rgba(65, 64, 66, 0.40);
}

.header.fixed .ui.grid {
    margin: auto;
    max-width: 1150px;
}

section#one .citation {
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 3em;
    line-height: 1.2em;
    text-align: center;
    display: inline-block;
}

section#one .citation span {
    font-weight: 100;
    font-size: 0.6em;
    text-align: right;
    float: right;
    padding-top: 1em;
}


/***
 *      ___ ___ ___ _____ ___ ___  _  _   _______      _____
 *     / __| __/ __|_   _|_ _/ _ \| \| | |_   _\ \    / / _ \
 *     \__ \ _| (__  | |  | | (_) | .` |   | |  \ \/\/ / (_) |
 *     |___/___\___| |_| |___\___/|_|\_|   |_|   \_/\_/ \___/
 *
 */


section#two {
    background: white;
    margin-top: 50vw;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 90px;
}

section#two .title {
    font-weight: 900;
    font-size: 2.2em;
    line-height: 1.2em;
}

section#two p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    font-weight: 300;
    max-width: 960px;
}

section#two.agency {
    margin-top: 280px !important;
}

section#two.agency .content {
    margin: auto;
    max-width: 960px;
}

section#two.agency h2 {
    text-align: left;
    font-size: 2.3em;
    font-weight: 600;
}

section#two.agency h2 img {
    width: 40px;
    margin-right: 20px;
}

section#two.agency .divider {
    margin: 10px 0 30px 0;
    height: 2px;
    width: 40px;
    background: #3b3b3b;
}

section#two.edition .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 44%;
    margin: 6% 6% 0 0;
}

section#two.edition strong {
    font-weight: 900;
}

section#two.edition .column .divider {
    height: 2px;
    width: 15px;
    margin: 15px auto;
}

section#two.edition p {
    font-weight: 100;
}

section#two.edition .column .text {
    padding: 30px;
    margin-top: -6px;
    background: linear-gradient(#e9eaeb, white)
}

section#two.edition .diapo {
    width: 100%;
    height: 283px;
    position: relative;
    overflow: hidden;
}

section#two.edition .arrow {
    position: absolute;
    top: 25%;
    cursor: pointer;
    font-size: 2em;
}

section#two.edition .arrow.left {
    left: -3%;
}

section#two.edition .arrow.right {
    right: -3%;
}

section#two.edition .diapo img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

section#two form {
    max-width: 700px;
    margin: 50px auto;
    background: linear-gradient(#e4e5e6, white 70%);
    padding: 10px 25px;
}

/***
 *      ___ ___ ___ _____ ___ ___  _  _   _____ _  _ ___ ___ ___
 *     / __| __/ __|_   _|_ _/ _ \| \| | |_   _| || | _ \ __| __|
 *     \__ \ _| (__  | |  | | (_) | .` |   | | | __ |   / _|| _|
 *     |___/___\___| |_| |___\___/|_|\_|   |_| |_||_|_|_\___|___|
 *
 */

section#three {
    padding-top: 40px;
    padding-bottom: 60px;
}

section#three .ui.grid {
    padding: 0 2%;
    max-width: 1500px;
    margin: auto;
}

section#three .column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

section#three .column img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

section#three .realisation .over {
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}



section#three .realisation .over span {
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
}

section#three .realisation .over .divider {
    width: 15px;
    margin: 15px auto;
}

section#three .realisation:hover .over {
    opacity: 1;
}

section#three .realisation:hover img {
    transform: scale(1.1);
}

section#three .column .realisation {
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}


/***
 *      ___ ___ ___ _____ ___ ___  _  _   ___ ___  _   _ ___
 *     / __| __/ __|_   _|_ _/ _ \| \| | | __/ _ \| | | | _ \
 *     \__ \ _| (__  | |  | | (_) | .` | | _| (_) | |_| |   /
 *     |___/___\___| |_| |___\___/|_|\_| |_| \___/ \___/|_|_\
 *
 */


section#four {
    padding-top: 40px;
}

section#four .column .picto {
    width: 80px;
    height: 70px;
    float: left;
    background-size: 80% !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    margin-right: 10px;
}

section#four h2 {
    font-weight: 600;
    font-size: 1.2em;
}

section#four .ui.grid {
    max-width: 1000px;
    margin: 50px auto;
}

section#four .text {
    padding-right: 100px;
    font-size: 1.2em;
}

section#four .text p {
    padding-left: 90px;
}


/***
 *      ___ ___ ___ _____ ___ ___  _  _   ___ _____   _____
 *     / __| __/ __|_   _|_ _/ _ \| \| | | __|_ _\ \ / / __|
 *     \__ \ _| (__  | |  | | (_) | .` | | _| | | \ V /| _|
 *     |___/___\___| |_| |___\___/|_|\_| |_| |___| \_/ |___|
 *
 */

section#five {
    background: #414042;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px 10px 50px;
}

section#five img {
    height: 90px;
}

section#five .infos {
    align-self: flex-start;
    padding-top: 39px;
    padding-left: 30px;
}

section#five .infos h4 {
    margin-bottom: 0;
    font-weight: 600;
}

section#five .infos:last-child {
    align-self: center;
    margin-left: auto;
}

section#five .infos a {
    color: white;
}



/***
 *      ___ ___   ___ _____ ___ ___
 *     | __/ _ \ / _ \_   _| __| _ \
 *     | _| (_) | (_) || | | _||   /
 *     |_| \___/ \___/ |_| |___|_|_\
 *
 */

 footer {
     display: flex;
     flex-direction: row;
     position: relative;
     z-index: 2;
     padding: 15px 10px 10px 50px;
 }

 footer div {
     align-self: center;
 }

 footer div:last-child {
     margin-left: auto
 }



/***
 *      _  _ ___   _   ___  ___ ___
 *     | || | __| /_\ |   \| __| _ \
 *     | __ | _| / _ \| |) | _||   /
 *     |_||_|___/_/ \_\___/|___|_|_\
 *
 */

