<div class="header">
    <div class="ui equal width grid">
        <div class="column">
            <a href="./agence/index.html" style="color: rgb(250, 250, 250);">
                <div>L'agence</div>
            </a>
        </div>
        <div class="column">
            <div>Éditions</div>
        </div>
        <div class="column">
            <div>Packaging &amp; PLV</div>
        </div>
        <div class="column">
            <div>Identité visuelle</div>
        </div>
        <div class="column">
            <div>Contact</div>
        </div>
    </div>
</div>
