<section id="five" data-ob-template="section_five.html" data-ob-template-version="1">
    <img src="uploads/Logo_SKGD.png" class="no-mobile" />
    <div class="infos no-mobile">
        <h4>SIÈGE SOCIAL :</h4>
        6, villa François Couperin
        <br /> 95360 Montmagny
    </div>
    <div class="infos no-mobile">
        <h4>BUREAU :</h4>
        68, avenue Ledru-Rollin
        <br /> 75012 Paris
        <br /> 06 09 77 23 65
        <br /> 06 09 77 23 65
    </div>
    <div class="infos">
        <a href="./contact/index.html" style="color:white;margin-right: 10px">contact</a>
        <a href="https://www.linkedin.com" target="_blank">
            <i class="linkedin square icon"></i>
        </a>
    </div>
</section>
